.MenuWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.WelcomeUser {
  margin-right: 20px;
  font-weight: 500;
  font-size: 20px;
}

.LogOutBTN {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 17px;

  &.active {
    color: #2196f3;
    background: lightgrey;
  }

  &:hover,
  &:focus {
    background: rgb(200, 200, 200);
    color: #2196f3;
  }
}
